:root {
  --darkest:#292B38;
  --dark:#45485F;
  --medium:#626585;
  --light:#7E82AB;
  --lightest:#EEE;

}
* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--lightest);
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

header {
   list-style: none;
   display: flex;
   flex-wrap: nowrap;
   flex-direction:column;
   background-color: var(--darkest);
   color: var(--lightest);
   height:100px;
}
h1 {
  position: relative;
  left:20px;
  font-size: 4vw;
  max-width: fit-content;
  top: 25%;
}
nav {
  display: inline-flex;
  position: relative;
  top:25%;
  font-size: 2.5vw;
  max-width: fit-content;
}

li a {
  margin:25px;
  color:var(--lightest);
  text-decoration: none;
}
  
  /* Style inputs with type="text", select elements and textareas (FROM W3 SCHOOLS) */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
#contact {
  display:flex;
}
.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
  
}
figure {
  display: block;
  margin:50px;
}
figure img {
  max-width: 100%;
  height: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
div img {
  max-height: 100;
  width: auto;
}
/*added from JSfiddle*/
.button {
  padding: 10px; 
  margin-right: 8px;
  margin-bottom:10px;
  font-family: Arial, Tahoma, Verdana, FreeSans, sans-serif;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
  display: inline-block;
  white-space: nowrap;
  line-height:1em;
  position:relative;
  outline: none;
  overflow: visible;
  cursor: pointer;
  border-radius: 4px;
  -moz-border-radius: 4px; 
  -webkit-border-radius:4px; 
  box-shadow:1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  border: 1px solid #305875;
}
.button_top {
  background: url('./Images/Resumé\ snapshot.png') 3px 5px no-repeat;
  width:60vw;
  height:25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 20px solid var(--medium);
  
}
.button:hover {
  color: #FBFBFB;
  opacity:0.9; 
  filter:alpha(opacity=90);        
}
.button_two {
  background: url('./Images/Passwordgen.jpg') 60px 40px no-repeat;
  background-color: var(--dark);
  width:40vw;
  height:20vw;
}
.button_three {
  background: url('./Images/weather.jpg') 3px 5px no-repeat;
  background-color: var(--darkest);
  width:40vw;
  height:20vw;
}
.button_four {
  background: url('./Images/employeemanagement.png') 3px 5px no-repeat;
  background-color: var(--light);
  width:40vw;
  height:20vw;
}
.button_five {
  background: url('./Images/tux.jpg') 3px 5px no-repeat;
  background-color: var(--dark);
  width:40vw;
  height:20vw;
}
.button_bottom {
  float:left;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: auto;
}
.button_columns {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}
#about_me_p {
  padding: 10px; 
  margin-right: 8px;
  margin-bottom:10px;
  font-family: Arial, Tahoma, Verdana, FreeSans, sans-serif;
  display: inline-block;
  line-height:1.5em;
  position:relative;
  outline: none;
  overflow:scroll;
  cursor: pointer;
  border-radius: 4px;
  -moz-border-radius: 4px; 
  -webkit-border-radius:4px; 
  box-shadow:1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  border: 1px solid #305875;
}

@media screen and (max-width: 600px) {
  body {
    background-color: var(--dark);
  }
}